<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="base">

</th:block>
<head th:fragment="login">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta content="ie=edge" http-equiv="x-ua-compatible"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${metaTitle} ? ${metaTitle} : 'default title'"></title>

    <!--===============================================================================================-->
    <link rel="icon" th:href="@{/res/images/icons/favicon.ico}" type="image/png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/vendor/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/fonts/iconic/css/material-design-iconic-font.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/vendor/animate/animate.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/vendor/css-hamburgers/hamburgers.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/vendor/animsition/css/animsition.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/vendor/select2/select2.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/vendor/daterangepicker/daterangepicker.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/css/util.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/res/css/login.css}" type="text/css"/>
    <!--===============================================================================================-->
</head>
<head th:fragment="signup">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta content="ie=edge" http-equiv="x-ua-compatible"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${metaTitle} ? ${metaTitle} : 'default title'"></title>

    <!--===============================================================================================-->
    <link rel="icon" th:href="@{/res/images/icons/favicon.ico}" type="image/png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/vendor/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/fonts/iconic/css/material-design-iconic-font.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/vendor/animate/animate.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/vendor/css-hamburgers/hamburgers.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/vendor/animsition/css/animsition.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/vendor/select2/select2.min.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/vendor/daterangepicker/daterangepicker.css}" type="text/css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/res/css/util.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/res/css/signup.css}" type="text/css"/>
    <!--===============================================================================================-->
</head>
</html>
