<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="base">

</div>
<div th:fragment="login">
    <!--===============================================================================================-->
    <script th:src="@{/res/vendor/jquery/jquery-3.2.1.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/res/vendor/animsition/js/animsition.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/res/vendor/bootstrap/js/popper.js}"></script>
    <script th:src="@{/res/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/res/vendor/select2/select2.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/res/vendor/daterangepicker/moment.min.js}"></script>
    <script th:src="@{/res/vendor/daterangepicker/daterangepicker.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/res/vendor/countdowntime/countdowntime.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/res/js/login.js}"></script>
</div>
<div th:fragment="signup">
    <!--===============================================================================================-->
    <script th:src="@{/res/vendor/jquery/jquery-3.2.1.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/res/vendor/animsition/js/animsition.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/res/vendor/bootstrap/js/popper.js}"></script>
    <script th:src="@{/res/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/res/vendor/select2/select2.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/res/vendor/daterangepicker/moment.min.js}"></script>
    <script th:src="@{/res/vendor/daterangepicker/daterangepicker.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/res/vendor/countdowntime/countdowntime.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/res/js/signup.js}"></script>
</div>
</body>
</html>